version: '3'
services:
    postgres:
        image: postgres:14.5-alpine
        container_name: postgres
        ports:
            - '5432:5432'
        environment:
            - POSTGRES_DB=library_db
            - POSTGRES_USER=postgres
            - POSTGRES_PASSWORD=password
            - POSTGRES_PORT=5432
        volumes:
            - ./postgres-data:/var/lib/postgresql/data
    backend:
        image: python:3
        container_name: python
        build: ./library_back/.
        volumes:
            - ./library_back:/app
        ports:
            - '8000:8000'
networks:
    default:
        external:
            name: library_db
